---
layout: default
section: blog
---
<article class="px2 mt3">
  <header class="pb1">
    <h2 class="mx1 my0">
      <date class="pr2 h4">{{ page.date | date: '%Y.%m.%d' }}</date>
      <a href="{{site.baseurl}}{{page.url}}">{{ page.title }}</a>
    </h2>
    <div class="p0">
      {% assign custom_url = site.url | append: site.baseurl %}
      {% assign full_base_url = site.github.url | default: custom_url %}
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{full_base_url}}{{page.url}}" data-text="{{page.title}} | 宮下研究室">Tweet</a>
    </div>
  </header>
  <section class="mx1 my3">
    {{ content }}
  </section>
  <footer class="pt1 pb3 px1 h5">
    {% if page.categories.length != 0 %}
      <div class="pb1">
        <span class="mr1 pr1 border-right">Categories</span>
        {% for category in page.categories %}
          <a href="#" class="mr1">#{{ category }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </footer>
</article>
